#container {
    text-align: center;
}

button {
	height: 40px;
	width:100px;
    border: 2px solid navy;
    background-color: white;
    color: navy;
    font-size: 2em;
    margin: 10px;
}

#button-action-text {
    display: none;
}